html, body {
    font-family: "GDS Transport", Arial, sans-serif;
    margin: 0;
    font-size: 16px;
}

div.body > section > h1.govuk-heading-xl {
  display: none !important;
}

.dtro-tabset {
  margin-bottom: 1.6rem;
}

.dtro-tabset pre {
  font-size: unset;
}

.govuk-tabs__tab {
    background: transparent;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
}

.headerlink {
  display: none !important;
}

figure.align-center figcaption {
    text-align: center;
    font-size: 1.1875rem;
    margin-bottom: 48px;
}
