{% for item in toctree_data %}
<div class="toc-section">
  <div class="toc-container">
    {% if item.children|length > 1 %}
    <div class="toc-toggle" onclick="toggleAccordion(event, this)">
      <div class="icon-container">+</div>
    </div>
    {% endif %}
    <a class="toc-header" href="{{ item.href }}"> {{ item.title }} </a>
  </div>
  {% if item.children %}
  <div class="toc-subitems">
    {% for child in item.children %} {% if child.title != item.title %}
    <div class="toc-subitem">
      <a href="{{ item.href + child.href }}">{{ child.title }}</a>
    </div>
    {% endif %} {% endfor %}
  </div>
  {% endif %}
</div>
{% endfor %}
